@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
.logo{
    width: 70px;
}
body{
    /*background-color:rgb(202, 210, 255) ;*/
}
header {
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 999;
    color: #ff0000;
    padding: 0;
    width: 100%;
    float: right;
  
  }
  
  header h1 {
      margin: 10px;
  }
  
  header nav {
    float: left;
  }
  
  header nav button {
      background-image: url(side.png);
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
  }
  
  header nav button svg {
      width: 24px;
      height: 24px;
      fill: #fff;
      transition: fill 0.2s ease-in-out;
      background-image: image-set;
  }
  
  header nav button:hover svg {
      fill: #ddd;
  }
section{
 padding: 5px;
 display: flex;

}
cardz{
    /*background-color: #ffffff;*/
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.title{
    display: flex;
    justify-content: center;
    color: #ffc400;
    font-weight: 800;
    margin-bottom: 30px;

}
contect {

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
cardz{
    /*background-color: #ffffff;*/
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
cardz:hover{ 
    background-color: #00ff4c;
    transform: scale(1.1);

}
.icon{
    color: #3a3af4;
    font-size: 8em;
    text-align: center;

}
.info{
text-align: center;
}

.info h3{
color: #00ff48;
font-size: 1.2em;
font-weight: 700;
margin: 10px;
}

@media (max-width:1023px){
    header{
       padding:12px 20px ;

    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
        align-items: center ;
    }
    .main-contect h2{
        font-size: 1em;
    }
    .main-contect h3{
        font-size: 1.6em;
    }
    .contect{
        flex-direction: column;
        align-items: center ;
        
    }
}
.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40px;
    width: 90%;
  }
  
 
  .card .r{

    background-color: orangered;
  }

  .cards .red {
    background-color: #421010;
  }
  
  .cards .blue {
    background-color: #3b82f6;
  }
  
  .cards .green {
    background-color: #22c55e;
  }
  .card .yelow{
    background-color: rgb(255, 0, 166);
  }
  .card .move
{
background-color:#7f00ff;
}  
.card .orange{
    background-color: orange;
}
.card .re{ 
    background-color: red;
}
.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    height: 160px;
    width: 300px;
    border-radius: 10px;
    padding: 30px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .cards .card p.tip {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: 1.5em;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }
@media (max-width:641px){
    body{
        font-size: 12px;
        align-items: center ;
    }
    .main-contect h2{
        font-size: 0.8em;
    }
    .main-contect h1{
        font-size: 1.4em;
    }

}
@media (max-width:300px){

    body{
        font-size: 10px;
                align-items: center ;
    }
}
.a{
    color: #0af688;
}
a{
    text-decoration: none;
}
.cardsc{
    
}


button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   button:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }
